<%#
Copyright 2011-2014, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<div id="featured_content" class="row">
  <div class="col-md-4">
    <p><a href="http://purl.dlib.indiana.edu/iudl/media/kelley/653702wk1h">
      <strong>Featured Video</strong>
    </a></p>
    <p><a href="http://purl.dlib.indiana.edu/iudl/media/kelley/653702wk1h">
      <%= image_tag "featured/kelley_1.png", alt: "Global Foundations Core - Promotional Video", class: 'thumbnail' %>
    </a></p>
    <p><a href="http://purl.dlib.indiana.edu/iudl/media/kelley/653702wk1h">Global Foundations Core - Promotional Video</a></p>
  </div>
  <div class="col-md-4">
    <p><a href="http://purl.dlib.indiana.edu/iudl/media/kelley/653702x25v">
      <strong>Featured Video</strong>
    </a></p>
    <p><a href="http://purl.dlib.indiana.edu/iudl/media/kelley/653702x25v">
      <%= image_tag "featured/kelley_2.png", alt: "Global Business Institute MENA", class: 'thumbnail' %>
    </a></p>
    <p><a href="http://purl.dlib.indiana.edu/iudl/media/kelley/653702x25v">
      Global Business Institute MENA
    </a></p>
  </div>
  <div class="col-md-4 hidden-phone">
    <p><a href="http://purl.dlib.indiana.edu/iudl/media/kelley/653702x42g">
      <strong>Featured Video</strong>
    </a></p>
    <p><a href="http://purl.dlib.indiana.edu/iudl/media/kelley/653702x42g">
      <%= image_tag "featured/kelley_3.png", alt: "Global Business Institute and Coca-Cola Company Scholarship – Entrepreneurs of the Future", class: 'thumbnail' %>
    </a></p>
    <p><a href="http://purl.dlib.indiana.edu/iudl/media/kelley/653702x42g">
      Global Business Institute and Coca-Cola Company Scholarship – Entrepreneurs of the Future
    </a></p>
  </div>
</div>
<div class="row">
  <div id="home-about" class="col-md-9">
    <p><strong>Avalon</strong> houses audio and video collections.</p>
    <ul>
      <li>Use the search box, or browse using the terms on the left side to discover content.</li>
      <li>Some content is only available when you <%= link_to 'sign in', new_user_session_path %> with your ID and passphrase.</li>
    </ul>
  </div>
  <div id="home-visit-box" class="col-md-3">
    <p>Visit <a href="http://wiki.dlib.indiana.edu/display/MCO">Media Collections Online</a> services web site to learn about services for IU units.</p>
  </div>
</div>
